/*

--- 07 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

//-- 01 TYPOGRAPHY SYSTEM
$text-xs: 1.2rem; /* 12px */

$text-sm: 1.4rem; /* 14px */

$text-base: 1.6rem; /* 16px */

$text-lg: 1.8rem; /* 18px */

$text-xl: 2rem; /* 20px */

$text-2xl: 2.4rem; /* 24px */

$text-3xl: 3rem; /* 30px */

$text-4xl: 3.6rem; /* 36px */

$text-5xl: 4.8rem; /* 48px */

$text-6xl: 6rem; /* 60px */

$text-7xl: 7.2rem; /* 72px */

$text-8xl: 8.2rem; /* 82px */

$text-9xl: 12.8rem; /* 128px */

$text-10xl: 14.4rem; /* 144px */

$text-11xl: 16rem; /* 160px */

$text-12xl: 19.2rem; /* 192px */

//-- 02 colors

$main-color-50: var(--main-color-50);
$main-color-100: var(--main-color-100);
$main-color-200: var(--main-color-200);
$main-color-300: var(--main-color-300);
$main-color-400: var(--main-color-400);
$main-color-500: var(--main-color-500);
$main-color-600: var(--main-color-600);
$main-color-700: var(--main-color-700);
$main-color-800: var(--main-color-800);
$main-color-900: var(--main-color-900);

$accent-color-50: var(--accent-color-50);
$accent-color-100: var(--accent-color-100);
$accent-color-200: var(--accent-color-200);
$accent-color-300: var(--accent-color-300);
$accent-color-400: var(--accent-color-400);
$accent-color-500: var(--accent-color-500);
$accent-color-600: var(--accent-color-600);
$accent-color-700: var(--accent-color-700);
$accent-color-800: var(--accent-color-800);
$accent-color-900: var(--accent-color-900);

$slate-color-50: var(--slate-color-50);
$slate-color-100: var(--slate-color-100);
$slate-color-200: var(--slate-color-200);
$slate-color-300: var(--slate-color-300);
$slate-color-400: var(--slate-color-400);
$slate-color-500: var(--slate-color-500);
$slate-color-600: var(--slate-color-600);
$slate-color-700: var(--slate-color-700);
$slate-color-800: var(--slate-color-800);
$slate-color-900: var(--slate-color-900);

//----dark mode

$main-background-color: var(--main-background-color);
$inverted-main-background-color: var(--inverted-main-background-color);

$secondary-background-color: var(--secondary-background-color);

$outer-nav-progress-bar-color: var(--outer-nav-progress-bar-color);
$inner-nav-progress-bar-color: var(--inner-nav-progress-bar-color);

$main-text-color: var(--main-text-color);
$inverted-main-text-color: var(--inverted-main-text-color);

$main-color-theme: var(--main-color-theme);
$accent-color-theme: var(--accent-color-theme);

$secondary-text-color: var(--secondary-text-color);
$inverted-secondary-text-color: var(--inverted-secondary-text-color);

$inverted-main-color-theme: var(--inverted-main-color-theme);
$inverted-accent-color-theme: var(--inverted-accent-color-theme);

$nav-shadow: var(--nav-shadow);

$footer-background-color: var(--footer-background-color);

//-- 03 SPACING SYSTEM

$nav-height: 100px;
$progress-bar-height: 5px;

$sp-xxs: 2px;
$sp-xs: 4px;
$sp-sm: 8px;
$sp-md: 12px;
$sp-lg: 16px;
$sp-xl: 24px;
$sp-xl-2: 32px;
$sp-xl-3: 48px;
$sp-xl-4: 64px;
$sp-xl-5: 80px;
$sp-xl-6: 96px;
$sp-xl-7: 128px;
$sp-xl-8: 160px;
$sp-xl-9: 192px;
$sp-xl-10: 224px;
$sp-xl-11: 256px;
$sp-xl-12: 288px;

$w-3xs: 16rem; /* 256px */
$w-2xs: 18rem; /* 288px */
$w-xs: 20rem; /* 320px */
$w-sm: 24rem; /* 384px */
$w-md: 28rem; /* 448px */
$w-lg: 32rem; /* 512px */
$w-xl: 36rem; /* 576px */
$w-2xl: 42rem; /* 672px */
$w-3xl: 48rem; /* 768px */
$w-4xl: 56rem; /* 896px */
$w-5xl: 64rem; /* 1024px */
$w-6xl: 72rem; /* 1152px */
$w-7xl: 80rem; /* 1280px */

$h-3xs: 16rem; /* 256px */
$h-2xs: 18rem; /* 288px */
$h-xs: 20rem; /* 320px */
$h-sm: 24rem; /* 384px */
$h-md: 28rem; /* 448px */
$h-lg: 32rem; /* 512px */
$h-xl: 36rem; /* 576px */
$h-2xl: 42rem; /* 672px */
$h-3xl: 48rem; /* 768px */
$h-4xl: 56rem; /* 896px */
$h-5xl: 64rem; /* 1024px */
$h-6xl: 72rem; /* 1152px */
$h-7xl: 80rem; /* 1280px */

//-- 04 BREAKPOINTS

// desktop first
$max-screen-xl: "max-width: 1280px";
$max-screen-lg: "max-width: 1024px";
$max-screen-md: "max-width: 768px";
$max-screen-sm: "max-width: 640px";
$max-screen-xsm: "max-width: 375px";

// mobile first
$screen-xsm: "min-width: 376px";
$screen-sm: "min-width: 641px";
$screen-md: "min-width: 769px";
$screen-lg: "min-width: 1025px";
$screen-xl: "min-width: 1281px";
$screen-2xl: "min-width: 1537px";

//-- 05 SHADOWS

$nav-shadow: var(--nav-shadow);
$feature-card-shadow: var(--feature-card-shadow);

$shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);
$shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 10px 10px -5px rgba(0, 0, 0, 0.04);
$shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
$shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
$shadow-none: none;

//-- 06 TRANSITIONS
$main-transition: 0.3s all;

//-- 07 border-radius
$radius-xs: 0.25rem;
$radius-sm: 0.5rem;
$radius-md: 0.75rem;
$radius-lg: 1rem;
$radius-xl: 1.25rem;
$radius-2xl: 1.5rem;
$radius-3xl: 1.75rem;
$radius-4xl: 2rem;
$radius-5xl: 2.25rem;
$radius-6xl: 2.5rem;
$radius-7xl: 2.75rem;
$radius-8xl: 3rem;
$radius-9xl: 3.25rem;
$radius-10xl: 3.5rem;

//--- 08 Gradient

$main-gradient: linear-gradient(to top right, $main-color-400, $main-color-600);

:root {
  // --main-color-50: #fff1f2;
  // --main-color-100: #ffe4e6;
  // --main-color-200: #fecdd3;
  // --main-color-300: #fb7185;
  // --main-color-400: #fb7185;
  // --main-color-500: #f43f5e;
  // --main-color-600: #e11d48;
  // --main-color-700: #be123c;
  // --main-color-800: #9f1239;
  // --main-color-900: #881337;

  --main-color-50: #ecfeff;
  --main-color-100: #cffafe;
  --main-color-200: #a5f3fc;
  --main-color-300: #67e8f9;
  --main-color-400: #22d3ee;
  --main-color-500: #06b6d4;
  --main-color-600: #0891b2;
  --main-color-700: #0e7490;
  --main-color-800: #155e75;
  --main-color-900: #164e63;

  --accent-color-50: #fefce8;
  --accent-color-100: #fef9c3;
  --accent-color-200: #fef08a;
  --accent-color-300: #fde047;
  --accent-color-400: #facc15;
  --accent-color-500: #eab308;
  --accent-color-600: #ca8a04;
  --accent-color-700: #a16207;
  --accent-color-800: #854d0e;
  --accent-color-900: #422006;

  --slate-color-50: #f1f5f9;
  --slate-color-100: #e2e8f0;
  --slate-color-200: #cbd5e1;
  --slate-color-300: #94a3b8;
  --slate-color-400: #64748b;
  --slate-color-500: #475569;
  --slate-color-600: #334155;
  --slate-color-700: #1e293b;
  --slate-color-800: #0f172a;
  --slate-color-900: #0a0c0d;

  // -------------
  --main-background-color: #fff;
  --inverted-main-background-color: #080c14;

  --secondary-background-color: #f3f4f6;

  --outer-nav-progress-bar-color: var(--accent-color-400);
  --inner-nav-progress-bar-color: var(--accent-color-900);

  --main-text-color: #111827;
  --inverted-main-text-color: #fff;

  --secondary-text-color: #6b7280;
  --inverted-secondary-text-color: #9ca3af;

  --main-color-theme: var(--main-color-500);
  --accent-color-theme: var(--accent-color-500);

  --inverted-main-color-theme: var(--main-color-300);
  --inverted-accent-color-theme: var(--accent-color-300);

  --nav-shadow: 0 0 12px rgba(0, 0, 0, 0.075);
  --feature-card-shadow: -3px 3px 10px #0004;

  --footer-background-color: #334155;
}

:root[data-theme="dark"] {
  --main-background-color: #080c14;
  --inverted-main-background-color: #fff;

  --secondary-background-color: #111827;

  --nav-shadow: 0 0 12px rgba(255, 255, 255, 0.075);
  --feature-card-shadow: -3px 3px 10px #4440;

  --main-text-color: #fff;
  --inverted-main-text-color: #111827;

  --secondary-text-color: #9ca3af;
  --inverted-secondary-text-color: #6b7280;

  --main-color-theme: var(--main-color-300);
  --accent-color-theme: var(--accent-color-300);

  --inverted-main-color-theme: var(--main-color-500);
  --inverted-accent-color-theme: var(--accent-color-500);

  --outer-nav-progress-bar-color: var(--accent-color-900);
  --inner-nav-progress-bar-color: var(--accent-color-400);
}
