// desktop first
$max-screen-xl: "max-width: 1280px";
$max-screen-lg: "max-width: 1024px";
$max-screen-md: "max-width: 768px";
$max-screen-sm: "max-width: 640px";
$max-screen-xsm: "max-width: 375px";

// mobile first
$screen-xsm: "min-width: 376px";
$screen-sm: "min-width: 641px";
$screen-md: "min-width: 769px";
$screen-lg: "min-width: 1025px";
$screen-xl: "min-width: 1281px";
$screen-2xl: "min-width: 1537px";

// rems
// classes
// resets
