.YearCard {
  position: relative;

  .image-container {
    overflow: hidden;
    @apply rounded-lg;
  }

  img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
  }

  .text-container {
    @apply border-slate-100 bg-secondaryBg;
    display: block;
    padding: 16px;
    width: 90%;
    position: absolute;
    top: 85%;
    left: 5%;
    // transform: translateX(5%);
    @apply rounded-sm;
    box-shadow: -5px 5px 20px #0006;
    transition: all 0.3s ease;

    .main-text {
      @apply text-xl;
      font-weight: bold;
      margin-bottom: 28px;
      margin-top: 20px;
    }

    .secondary-text {
      @apply text-base text-secondaryTxt;
      font-weight: bold;
      margin-bottom: 8px;
    }

    .divider {
      @apply bg-primary-400;
      width: 100%;
      height: 1px;
      margin: 16px 0;
    }
  }
  &:hover {
    img {
      transform: scale(1.1);
      filter: brightness(110%) saturate(130%);
    }
    .text-container {
      transform: scale(1.05);
    }
  }
}

[data-theme="dark"] .YearCard .text-container {
  @apply border-slate-100;
}
