.Carousel {
  @apply  px-7 py-6 shadow-lg rounded-2xl;

  @screen md {
    @apply px-16 py-8;
    max-width: 600px;
  }

  position: relative;

  height: fit-content;
  width: fit-content;
  max-width: 100%;

  .container {
    display: flex;
    @apply transition-all;

    .carousel-item {
      flex-shrink: 0;
      max-width: 100%;
      max-height: 100%;

      .image-container {
        max-height: 600px;
        text-align: center;
        img {
          @apply rounded-lg;
          max-width: 100%;
          object-fit: contain;
          height: fit-content;
        }
      }
      .text-container {
        @apply rounded-lg bg-secondaryBg px-3 py-6;
        max-width: 90%;
        transform: translateY(-30px);
        margin-bottom: 30px;
        h3 {
          @apply mb-4 text-lg;
        }
        p {
          @apply mb-6 text-sm text-secondaryTxt;
        }
        .price {
          display: inline-block;
          color: white;
          @apply rounded-md;
          padding: 4px 12px;
          font-weight: bold;
        }
      }
    }
  }

  .arrow {
    @apply h-7 w-7 text-invertedPrimaryTxt;
    position: absolute;
    top: 50%;

    cursor: pointer;
  }
  .arrow:hover {
    @apply text-secondary-300;
  }

  .arrow-left {
    left: 1%
  }
  .arrow-right {
    right: 1%;
  }

  .indicators {
    @apply mb-4;
    display: flex;

    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 1rem;
    gap: 10px;
    transform: translateX(-50%);
  }

  .indicator {
    @apply bg-primaryBg;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    @apply transition-all;
  }
  .indicator:hover {
    @apply bg-secondary-300;
  }

  .indicator-active {
    width: 15px;
    height: 15px;
  }


}
