@import "app/_styles/_variables.scss";
@import "app/globals.scss";

.Carousel {
  @apply mainGradient shadow-lg py-6 px-7;
  position: relative;

  @apply rounded-2xl;
  height: fit-content;
  width: fit-content;
  max-width: 100%;

  .container {
    display: flex;
    @apply transition-all;

    .carousel-item {
      flex-shrink: 0;
      max-width: 100%;
      max-height: 100%;

      .image-container {
        max-height: 600px;
        text-align: center;
        img {
          @apply rounded-lg;
          max-width: 100%;
          object-fit: contain;
          height: fit-content;
        }
      }
      .text-container {
        @apply bg-secondaryBg px-3 rounded-lg py-6;
        max-width: 90%;
        transform: translateY(-30px);
        margin-bottom: 30px;
        h3 {
          @apply text-lg mb-4;
        }
        p {
          @apply text-sm text-secondaryTxt mb-6;
        }
        .price {
          @apply mainGradient;
          display: inline-block;
          color: white;
          @apply rounded-sm;
          padding: 4px 12px;
          font-weight: bold;
        }
      }
    }
  }

  .arrow {
    @apply text-invertedPrimaryTxt w-7 h-7;
    position: absolute;
    top: 50%;

    cursor: pointer;
  }
  .arrow:hover {
    @apply text-secondary-300;
  }

  .arrow-left {
    left: 1%;
  }
  .arrow-right {
    right: 1%;
  }

  .indicators {
    @apply mb-4;
    display: flex;

    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 1rem;
    gap: 10px;
    transform: translateX(-50%);
  }

  .indicator {
    @apply bg-primaryBg;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    @apply transition-all;
  }
  .indicator:hover {
    @apply bg-secondary-300;
  }

  .indicator-active {
    width: 15px;
    height: 15px;
  }

  @media ($screen-md) {
    @apply py-7 px-9;
    max-width: 600px;
  }
}
