@import "app/_styles/_variables";

.CoursesGroup {
  padding: 0 $sp-xl-4;

  .courses-container {

    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
    gap: 50px;
    row-gap: 50px;
    justify-content: space-between;
  }

  .ant-collapse {
    .ant-collapse-header,
    .ant-collapse-content-box {
      color: $main-text-color;
    }

    .ant-collapse-header {
      flex-direction: row-reverse;
      justify-content: start;

      .ant-collapse-header-text {
        font-size: $text-4xl;
        flex-grow: 0 ;
        margin-inline-end: 30px;
      }
    }
    .ant-collapse-expand-icon {
      align-self: center;
      .anticon  {
        font-size: 18px;
        color: $main-color-500;
      }
    }
  }
}
