@import "app/_styles/_variables";

.CoursesGroup {
  @apply px-9;

  .courses-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
    gap: 50px;
    row-gap: 50px;
    justify-content: space-between;
  }

  .ant-collapse {
    .ant-collapse-header,
    .ant-collapse-content-box {
      @apply text-primaryTxt;
    }

    .ant-collapse-header {
      flex-direction: row-reverse;
      justify-content: start;

      .ant-collapse-header-text {
        @apply text-4xl;
        flex-grow: 0;
        margin-inline-end: 30px;
      }
    }
    .ant-collapse-expand-icon {
      align-self: center;
      .anticon {
        font-size: 18px;
        @apply text-primary;
      }
    }
  }
}
