// @import "app/_styles/variables";;
@import "app/_styles/variables";

.Nav {
  .nav-links {
    @apply gap-7;
    grid-column: 4/7;
    justify-self: end;

    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      @apply py-3 px-5 ml-2 text-base leading-5 rounded-md;
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 500;
      transition: all 0.3s;
      border: 2px solid transparent;

      &.register {
        @apply bg-secondary text-invertedPrimaryTxt;
        &:hover {
          @apply bg-primaryBg;
          @apply text-secondary border-secondary border-2;
          svg {
            @apply text-secondary;
          }
        }

        svg {
          font-size: 30px;
        }
      }

      &.login {
        @apply text-primary border-2  hover:border-primary;

        svg {
          font-size: 30px;
          @apply text-primary;
        }
      }
    }
  }

  /*---------------------------- */
  /********** User Data **********/
  /*---------------------------- */

  .nav-user-data {
    @apply gap-5;
    grid-column: 6/7;
    cursor: pointer;

    display: flex;

    svg {
      font-size: 38px;
    }
  }

  @media ($max-screen-lg) {
    .nav-links {
      grid-column: 3/7;
    }
  }

  @media ($max-screen-md) {
    .nav-links,
    .nav-user-data {
      display: none;
    }
  }
}
