//    ;

.Nav {
  .nav-links {
    @apply gap-7;
    grid-column: 4/7;
    justify-self: end;

    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      @apply ml-2 rounded-md px-5 py-3 text-base leading-5;
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 500;
      transition: all 0.3s;
      border: 2px solid transparent;

      &.register {
        @apply bg-secondary text-invertedPrimaryTxt;
        &:hover {
          @apply bg-primaryBg;
          @apply border-2 border-secondary text-secondary;
          svg {
            @apply text-secondary;
          }
        }

        svg {
          font-size: 30px;
        }
      }

      &.login {
        @apply border-2 text-primary hover:border-primary;

        svg {
          font-size: 30px;
          @apply text-primary;
        }
      }
    }
  }

  /*---------------------------- */
  /********** User Data **********/
  /*---------------------------- */

  .nav-user-data {
    @apply gap-5;
    grid-column: 6/7;
    cursor: pointer;

    display: flex;

    svg {
      font-size: 38px;
    }
  }

  @media (max-width: 1024px) {
    .nav-links {
      grid-column: 3/7;
    }
  }

  @media (max-width: 768px) {
    .nav-links,
    .nav-user-data {
      display: none;
    }
  }
}
