.logo {
  @apply h-14;

  width: auto;

  grid-column: 1/2;
  @media (max-width: 768px) {
    .logo-container {
      order: 2;
      grid-column: 3/5;
    }

    .logo {
      @apply h-12;
    }
  }

  @media (max-width: 640px) {
    .logo {
      @apply h-10;
    }
  }
}
