@import "app/_styles/variables";

.logo {
  @apply h-14;

  width: auto;

  grid-column: 1/2;
  @media ($max-screen-md) {
    .logo-container {
      order: 2;
      grid-column: 3/5;
    }

    .logo {
      @apply h-12;
    }
  }

  @media ($max-screen-sm) {
    .logo {
      @apply h-10;
    }
  }
}
