@import "app/_styles/variables";

.logo {
  width: auto;
  height: 6rem;

  grid-column: 1/2;
  @media ($max-screen-md) {
    .logo-container {
      order: 2;
      grid-column: 3/5;
    }

    .logo {
      height: 5rem;
    }
  }

  @media ($max-screen-sm) {
    .logo {
      height: 4rem;
    }
  }
}
