// import global variables
@import "app/_styles/_variables";

.nav-fixer {
  @apply bg-primaryBg;
}

.nav-fixer {
  padding-top: var(--nav-height);
}

.Nav {
  height: var(--nav-height);
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;

  @apply bg-primaryBg dark:shadow-[0_0_12px_rgba(0,0,0,0.075)] shadow-[0_0_12px_rgba(255,255,255,0.075)];
  z-index: 100;

  .nav-container {
    @apply py-5 px-10;
    height: 100%;
    margin: 0 auto;

    position: relative;

    display: grid;
    grid-template-columns: repeat(6, 1fr);

    justify-content: space-between;
    justify-items: center;
    align-items: center;
  }

  @media ($max-screen-lg) {
    .nav-container {
      @apply px-10 max-w-6xl;
    }
  }

  @media ($max-screen-md) {
    .nav-container {
      @apply px-7;
    }

    .logo-container {
      order: 2;
      grid-column: 3/5;
    }

    .logo {
      @apply h-12;
    }
  }

  @media ($max-screen-sm) {
    .nav-container {
      @apply px-5;
    }

    .logo {
      @apply h-10;
    }
  }
}
