//style the progress bar scss
@import "app/_styles/variables";

.scrolled .nav-progress-bar {
  opacity: 1;
  transform: translate(0, 0);
}

.nav-progress-bar {
  @apply bg-secondary-400 dark:bg-secondary-900;
  opacity: 0;
  transform: translate(0, -200%);
  transition: all 0.5s;

  position: fixed;
  top: var(--nav-height);
  left: 0;

  z-index: 99;

  border-radius: 0;
  height: var(--progress-bar-height);
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: end;
}

.inner-bar {
  @apply bg-secondary-900 dark:bg-secondary-400;
  height: 100%;
  transition: width 0.3s;
}
