.Nav {
  .phone-toggle {
    cursor: pointer;
    display: none;
  }

  .phone-toggle-icon {
    @apply text-4xl;
    @apply text-secondary;
  }

  .phone-menu {
    display: none;
    pointer-events: all;
  }

  .phone-menu.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .phone-menu-closing-layer {
    width: 100%;
    height: calc(100vh - var(--nav-height));
    position: absolute;
    top: 100%;
    left: 0;
  }

  @media (max-width: 768px) {
    .phone-toggle {
      display: block;
      grid-column: 6/7;
      order: 3;
    }

    .phone-menu {
      @apply rounded-2xl;
      display: block;
      width: 100%;

      @apply bg-primary-600;

      position: absolute;
      top: calc(100% + var(--progress-bar-height));
      left: 0;
      z-index: 2;

      opacity: 1;
      transition: all 0.3s;

      ul {
        @apply my-4 gap-5 px-5;
        display: flex;
        flex-direction: column;

        a {
          @apply rounded-lg p-2;

          color: #fff;
          @apply bg-primary-700;

          font-weight: 500;
          cursor: pointer;

          transition: all 0.3s;

          &:hover {
            @apply bg-primary-800;

            .container {
              transform: translate(-10px);
            }
          }

          .container {
            display: flex;
            justify-content: start;
            gap: 20px;
            align-items: center;
            transition: all 0.3s;
          }

          .icon {
            font-size: 30px;
          }

          .login-icon,
          .user-icon {
            @apply text-primary;
          }

          .register-icon,
          .courses-icon {
            @apply text-secondary;
          }
        }
      }
    }
  }

  @media (max-width: 640px) {
    .phone-toggle-icon {
      @apply text-3xl;
    }
  }
}
