.Nav {
  .theme-toggle {
    grid-column: 2/3;
    justify-self: start;

    font-size: 42px;
    cursor: pointer;

    .theme-icon {
      @apply text-primaryTxt;
    }
  }

  @media (max-width: 768px) {
    .theme-toggle {
      font-size: 36px;
      order: 1;
      grid-column: 1/2;
    }
  }

  @media (max-width: 640px) {
    .theme-toggle {
      font-size: 30px;
    }
  }
}
