.CourseCard {
  position: relative;
  @apply rounded-2xl pb-7;
  height: fit-content;
  width: fit-content;
  max-width: 100%;

  .container {
    @apply transition-all;
    display: flex;
    flex-direction: column;
    align-items: center;

    .image-container {
      max-height: 600px;
      text-align: center;

      img {
        @apply rounded-lg;
        max-width: 100%;
        object-fit: contain;
        height: fit-content;
      }
    }
    .text-container {
      @apply rounded-lg bg-secondaryBg px-3 py-6;
      max-width: 90%;
      transform: translateY(-30px);
      margin-bottom: 30px;
      h3 {
        @apply mb-4 text-lg;
      }
      p {
        @apply mb-6 text-sm text-secondaryTxt;
      }
      .price {
        display: inline-block;
        color: white;
        @apply rounded-sm;
        padding: 4px 12px;
        font-weight: bold;
      }
    }
  }
}
