@import "app/_styles/_variables.scss";

.HeroSection {
  @apply bg-primaryBg flex flex-col justify-center items-center text-center pb-[20vh] gap-9;
  @apply bg-primaryBg;

  .hero__text {
    flex-basis: 50%;
    h1 {
      @apply text-h1 my-10;

      line-height: 1.3;
      font-weight: 700;
      .colored {
        @apply text-primary dark:text-primary-300;
      }
    }

    .welcome-message {
      @apply text-3xl text-primary-300 dark:text-primary-500;
      margin-bottom: 0;
    }

    .description {
      @apply text-2xl mt-4;
      .colored {
        @apply text-secondary dark:text-secondary-300;
      }
    }
    a {
      display: block;
    }

    button {
      @apply p-2 mt-12 text-base font-bold bg-primary text-invertedPrimaryTxt dark:bg-primary-500 rounded-md;
      font-family: "Almarai";
      display: block;
      width: 100%;

      border: 2px solid transparent;

      opacity: 1;
      @apply transition-all;

      &:hover {
        background-color: transparent;
        @apply text-primary border-primary;
      }
    }
    .year {
      @apply text-secondary dark:text-secondary-300  text-xl my-4;
    }
  }

  .hero_image {
    flex-basis: 50%;
    img {
      margin-top: 20px;
      max-width: 90%;
      height: 90%;
    }
  }

  @media ($screen-md) {
    & {
      flex-direction: row;
      justify-content: space-between;
      text-align: start;
    }
    .hero__text {
      button {
        width: 70%;
      }
    }
  }
}
