.FeatureCard {
  @apply bg-primary px-3 py-12; /* Main card color */
  border-radius: 12px;
  width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: center;

  .icon-wrapper {
    position: relative;
    @apply mb-7 bg-primary-900;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  svg {
    @apply text-secondary-300;
    font-size: 30px;
  }

  .text-wrapper {
    @apply rounded-lg bg-primary-700 p-3 text-lg;
    width: 80%;

    .primary-text {
      color: #fff;
      font-weight: bold;
    }
    .secondary-text {
      @apply text-secondary-300;
    }
  }

  @screen md {
    .text-wrapper {
      @apply text-xl;
    }
  }
}
