.Footer {
  @apply px-5 py-[70px];

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  text-align: center;

  @apply bg-slate-600;
  color: #fff;

  .social-media-links {
    ul {
      @apply gap-7;
      display: flex;
      justify-content: center;
      padding: 0;
      margin: 0;

      li {
        @apply text-4xl;
        list-style: none;
        padding: 0;
        margin: 0;

        svg {
          color: #fff;
        }
      }
    }
  }

  .divider {
    @apply my-4 h-1 rounded-md;
    width: 33.33%;
    background-color: rgb(30 41 59/1);
  }

  .footer-message {
    color: rgb(226 232 240);
    display: flex;
    justify-content: center;
    align-items: center;
    .text {
      @apply mx-2 my-0;
    }
    .emoji {
      @apply text-xl;
    }
  }

  .copy-rights {
    font-family: "Comfortaa", system-ui;
    color: #d8b4fe;

    .bracket {
      color: #9333ea;
    }

    .developer-name {
      color: #fff;
      display: inline-block;
    }

    .developer-name {
      @apply mx-1 rounded-lg px-3 py-2;
      transition: all 0.5s;
      &:hover {
        box-shadow: 0 7px 10px 0 #0003;
      }
    }
  }

  @media (max-width: 640px) {
    .divider {
      width: 66.6%;
    }
  }
}
