@import "app/_styles/_variables";

.SloganSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  padding-bottom: 20vh;

  .pattern {
    position: absolute;
    width: 100%;
    height: 150px;

    left: 0;
    z-index: 0;
    background-size: contain;
    background-repeat: repeat-x;
    opacity: 0.15;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text {
    @apply text-5xl;
    font-family: "Noto Nastaliq Urdu", "system-ui";
    @apply text-primary dark:text-primary-300;
    opacity: 1;
    z-index: 1;
    text-align: center;
  }
  @media ($screen-md) {
    & {
      height: 200px;
    }
    .pattern {
      height: 200px;
    }
    .text {
      @apply text-7xl;
    }
  }
  @media ($screen-lg) {
    & {
      height: 220px;
    }
    .pattern {
      height: 220px;
    }
    .text {
      @apply text-6xl;
    }
  }
}

[data-theme="dark"] {
  .SloganSection {
    .pattern {
      -webkit-filter: invert(100%);
      filter: invert(100%);
    }
  }
}
