.Wrapper .FeaturesSection {
  max-width: 100%;
}

.FeaturesSection {
  @apply bg-primary-700;
  .wrapper-container {
    @apply gap-12 py-[128px];
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @screen md {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
