@import "app/_styles/_variables";


.Wrapper .FeaturesSection {
  max-width: 100%;
}

.FeaturesSection {
  background-color: $main-color-700;
  .wrapper-container {
    padding: $sp-xl-7 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $sp-xl-3;
    @media ($screen-md) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}



