@import "app/_styles/_variables";

.Wrapper .FeaturesSection {
  max-width: 100%;
}

.FeaturesSection {
  @apply bg-primary-700;
  .wrapper-container {
    @apply py-[128px] gap-12;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media ($screen-md) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
